- content_for :new_todo do 
  = link_to "+ New", new_todo_path, class: 'button primary reversed shadow'

- @todos.reverse_each do |todo|
  .container.white.shadow.santa.grow.todo
    %p
      %span.light
        = todo.item 
      %br
      %span.small.gray
        = todo.description 

    .actions  
      %span.action.edit
        = link_to "Edit", edit_todo_path(todo.id)
      %span.action.delete
        = link_to "Delete", { action: 'destroy', id: todo.id }, method: :delete